<html> 
<head> 
<title>Angular JS Services</title> 
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> 
</script> 
</head> 
<body> 
<div ng-app="mainApp" ng-controller ="myController"> 
<p>Enter radius of circle: <input type ="number" ng-model="number" /></p> 
<button id="btnCal" ng-click="area()">Area</sup></button> 
<p>{{pi}}</p> 
<p>Result: {{result}}</p> 
</div> 
<script> 
var mainApp= angular.module("mainApp", []); 
mainApp.constant ("pi", "3.14"); 
mainApp.controller('myController', function ($scope, pi) {
$scope.area=function (a) { 
$scope.result =pi*($scope.number *$scope.number); 
}; 
}); 
</script> 
</body> 
</html>