<html> 
<head> 
<title>Angular JS Services</title> 
<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> 
</script> 
</head> 
<body> 
<div ng-app="mainApp" ng-controller ="CalController">
    <p>Enter a number:
        <input type="number" ng-model="number">
    </p>
    <button ng-click="square()">square</button>
    <p>square of number is {{result}}</p>
    </div>
    <script>
        var app = angular.module('mainApp', []);
        app.service('MyService',function()
    {
        
            this.square=function(number)
            {
            return number*number;
            }
            
    });
    app.controller('CalController',function($scope,MyService)
    {
        $scope.square = function()
        {
            $scope.result = MyService.square($scope.number);
            }
            });
    </script>