<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js "></script>
</head>
<body>
    <div ng-app="demoapp" ng-controller="nameCtrl">
        <h2>student names using uppercase filter</h2>
        <ul><li ng-repeat="name in names">
            {{name | uppercase}}</li></ul>
        <h2>student names using uppercase filter</h2>

        <ul><li ng-repeat="name in names">
            {{name | lowercase}}</li></ul>
        <h2>search for students by entering the name in input box</h2>

        your search string : <input type="text" ng-model="searchString">
        <ul>
            <li ng-repeat="x in names | filter:searchString">
            {{x}}
        </li>
    </ul>
    </div>
    <script> var app = angular.module('demoapp',[]);
    app.controller('nameCtrl',function($scope){
        $scope.names=['priya kumar','prem chopra','yogi bhardwaj','vishal jaiswar','ramesh rawat']});
        </script>
</body>
</html>